In [1]:
dataset = [
    ['Milk', 'Bread'],
    ['Bread', 'Butter'],
    ['Milk','Bread', 'Butter'],
    ['Milk'],
    ['Bread', 'Butter', 'Jam']
    
]

In [2]:
dataset

[['Milk', 'Bread'],
 ['Bread', 'Butter'],
 ['Milk', 'Bread', 'Butter'],
 ['Milk'],
 ['Bread', 'Butter', 'Jam']]

In [3]:
import pandas as pd

data = pd.DataFrame(dataset,columns= ['Item1','Item2','Item3'])
data

   Item1   Item2   Item3
0   Milk   Bread    None
1  Bread  Butter    None
2   Milk   Bread  Butter
3   Milk    None    None
4  Bread  Butter     Jam

In [4]:
from mlxtend.preprocessing import TransactionEncoder

In [5]:
te = TransactionEncoder()

In [6]:
te_ary = te.fit(dataset).transform(dataset)

In [7]:
te_ary

array([[ True, False, False,  True],
       [ True,  True, False, False],
       [ True,  True, False,  True],
       [False, False, False,  True],
       [ True,  True,  True, False]])

In [8]:
df = pd.DataFrame(te_ary, columns = te.columns_)
df

   Bread  Butter    Jam   Milk
0   True   False  False   True
1   True    True  False  False
2   True    True  False   True
3  False   False  False   True
4   True    True   True  False

In [13]:
from mlxtend.frequent_patterns import apriori

frequent_itemset = apriori(df, min_support=0.4, use_colnames=True)
frequent_itemset

   support         itemsets
0      0.8          (Bread)
1      0.6         (Butter)
2      0.6           (Milk)
3      0.6  (Bread, Butter)
4      0.4    (Bread, Milk)

In [14]:
from mlxtend.frequent_patterns import association_rules

In [15]:
rules = association_rules(frequent_itemset, metric = "lift")

In [16]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bread),(Butter),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6,1.000000
1,(Butter),(Bread),0.6,0.8,0.6,1.000000,1.250000,0.12,inf,0.500000
2,(Bread),(Milk),0.8,0.6,0.4,0.500000,0.833333,-0.08,0.8,-0.500000
3,(Milk),(Bread),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333

In [17]:
type(rules)

pandas.core.frame.DataFrame

In [18]:
print("Combination with lift>1 : to be good to go together more often than if they were independent")
print(rules[rules['lift']>1])

Combination with lift>1 : to be good to go together more often than if they were independent
  antecedents consequents  antecedent support  consequent support  support  \
0     (Bread)    (Butter)                 0.8                 0.6      0.6
1    (Butter)     (Bread)                 0.6                 0.8      0.6

   confidence  lift  leverage  conviction  zhangs_metric
0        0.75  1.25      0.12         1.6            1.0
1        1.00  1.25      0.12         inf            0.5